@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
}

.must_input{
   margin: 5%;
   width: 20%;
   min-width: 200px;
}

#sample6_extraAddress{
   visibility:hidden ;
}