@charset "UTF-8";
@font-face {
  font-family: 'KyoboHandwriting2020A';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
    font-family: 'KyoboHandwriting2020A';
}


/* boreder-radius : 둥근속성 적용 */
.must_input{
  margin: 5%;
  border: 1px solid black ;
  border-radius: 5px;
  padding: 2%;
  background-color: white;
  max-width: 80%;
  
}

.must_button{
 margin: 3% 5% 3% 0;
 text-align: center;
}

/* 카카오 지도 API 속성 숨김. none을 사용할 경우 오류의 가능성이 있어 hidden 권장. */
#sample6_extraAddress{
   visibility:hidden ;
}


/* 뒷 배경 삽입 */
.row{
  background-image: url(../resources/images/son/sky-g0f2a82b14_1920.png);
}

.post_input{
    margin: 5%;
    border: 1px solid black ;
    border-radius: 5px;
    padding: 2%;
    max-width: 80%;
    background-color: white;

}

.choice_Input{
    margin: 5%;
    border: 1px solid black ;
    border-radius: 5px;
    padding: 2%;
    max-width: 80%;
    background-color: white;

}

.Invit_Input{
  margin: 5%;
  border: 1px solid black ;
  border-radius: 5px;
  padding: 2%;
  max-width: 80%;
  height: 10%;
  background-color: white;
}

.signup_button{
  margin: 3% 0 3% 40%;
}



/* 푸터 시작 */

footer{
    width: 100%;
   height: auto; 
    float: left;
    background: #EAEAEA;
    color: black;
    text-align: center;
  }
  
  .down_logo{
    padding-top: 5%;
    width: 35%;
    height: 100%;
    float: left;
  
  }
  
  .copyright{
    padding-top: 5%;
    width: 35%;
    height: 80%;
    float: left;
    border-left: 2px solid darkgray;
    border-right: 2px solid darkgray;
  
  
  }

  .sns{
    margin-top: 5%;
    width: 30%;
    height: 100%;
    float: right;
  
  }

  /* 푸터 끝 */